body {
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 4rem;
  font-size: 2rem;
  background-color: #333;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

form {
  margin: 2rem;
}

main {
  display: flex;
  justify-content: center;
}

#calculator {
  background-color: gray;
  width: 50vw;
  height: 60vw;
  min-width: 300px;
  min-height: 400px;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.318);
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.447);
  padding: 1rem;
}

#button-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.calculator-button {
  background-color: rgb(157, 157, 157);
  color: rgb(229, 229, 229);
  text-shadow: 1px 1px 2px black;
  font-size: 3rem;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}
.calculator-button.operator {
  background-color: rgb(188, 175, 175);
}
#equals-button {
  background-color: rgb(161, 177, 161);
}
#zero-button {
  grid-column-start: 1;
  grid-column-end: 3;
}
#clear-button {
  font-size: 1.5rem;
  background-color: rgb(135, 117, 85);
}
#calculator-display {
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: rgb(157, 157, 105);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
  font-size: 3rem;
  font-family: 'Orbitron', sans-serif;
  color: rgb(216, 216, 216);
  text-shadow: 1px 1px 2px black;
  border: 2px inset rgba(152, 152, 152, 0.693);
}